@model ResultBlogDto

<div class="col-md-8 ftco-animate">
    <h2 class="mb-3">@Model.Name</h2>
    <p>
        @Model.Content
    </p>
    <p>
        <img src="~/@Model.BackgroundImageUrl" alt="" class="img-fluid">
    </p>

    @await Component.InvokeAsync("_HomeLayoutBlogDetailTagClouds", new {id = Model.Id})
    
    @await Component.InvokeAsync("_HomeLayoutBlogDetailAuthorAbout", new {id = Model.Id})

    <div class="pt-5 mt-5">
        <h3 class="mb-5">6 Yorum</h3>
        @await Component.InvokeAsync("_HomeLayoutCommentListByBlog")

        @await Component.InvokeAsync("_HomeLayoutAddComment")
    </div>
</div>
